<div class="col s12 tag-div">
  <div class="user-content">
    <p>
      Hey, I'm Srikanth K. I've started this blogging site to capture essentials information/knowledge in various technogies,
      which I come across during my 24 years of IT journey.
    </p>
      My journey is quite intersting, because of following reasons:
      <ol type = "1">
        <li>Worked with various produt companies</li>
        <li>Worked with different domains, just to mention few, Telecom, Supply-Chain, Finance and Commodity</li>
        <li>Worked in various roles, covering both management and as well as individual contributor.</li>
      </ol>
    <p>

    </p>
  </div>
</div>