<div class="col s12 tag-div">
  <div class="user-content">
    
    <style>
    .responsive-wrap iframe{ max-width: 100%;}
    </style>
    <div class="responsive-wrap">
<!-- this is the embed code provided by Google -->
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSEIpzWJqehhllcQ5mrO-1C93moHez4jN0DNttzUGjG12VLftd1_RqD4WQLWGBGPz1gphfdDlHQf2Om/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<!-- Google embed ends -->
    </div>
  </div>
</div>